
<script src="/javascripts/"
<script>Setup();</script>
<h1>The new amazing pong</h1>
<div>
    <canvas id="myCanvas" width="800" height="600" onmousemove="SetPlayerY(event)">
        Your browser does not support html5 canvas tag.
    </canvas>
</div>