<script src="/javascripts/client.js"></script>
<script>Setup();</script>
<h1>Ultra supervette gamelobby (pong pong dingelingedong)</h1>
<h3 id="begroeting"></h3>
<div class="modal">
    <div class="modal-content">
        Insert your name: <input id="uname" type="text" name="uname" placeholder="Name...." onkeypress="return event.keyCode!=13"><br><br>
        Insert roomnumber: <input id="roomnumber" type="number" name="roomnumber" placeholder="Roomnumber..." onkeypress="return event.keyCode!=13"><br><br>
        <button id="myBtn" type="button">ikke doorrijden</button>
        <p id="nameError" style="color: red;"></p>
    </div>
</div>
<div id="rooms"></div>

<div>
    <canvas id="myCanvas" width="800" height="600" onmousemove="SetPlayerY(event)">
        Your browser does not support html5 canvas tag.
    </canvas>
</div>