<script src="/javascripts/client.js"></script>
<div class="join_screen">
    <label for="uname">Username: </label><input type="text" name="uname" ><br>
    <label for="roomnumber">Roomnumber: </label><input type="text" name="roomnumber"><br>
    <button id="join">Join game</button>

</div>