<link rel='stylesheet' href='/stylesheets/tests.css' />
<div id="tests">
<h2>Gemaakt door</h2>
<ol>
    <li>Jonah van den bos - s1087320</li>
    <li>Matthias Oosterom - s1088245</li>
</ol>
<h2>User stories</h2>
<ol>
    <li>Als gebruiker wil ik een splashscreen te zien krijgen wanneer ik de game laad.</li>
    <li>Als gebruiker wil ik mijn naam en roomnummer in kunnen vullen zodat ik een game kan joinen</li>
    <li>Als gebruiker wil ik de game kunnen starten zodat ik de game kan spelen</li>
    <li>Als gebruiker wil ik met mijn muis de positie van mijn plankje kunnen bepalen</li>
    <li>Als gebruiker wil ik de ball met mijn plankje kunnen terugkaatsen zodat hij niet aan mijn kant tegen de muur gaat</li>
    <li>Als gebruiker wil ik met de ball bij mijn tegenstander kunnen scoren zodat ik de wedstrijd kan winnen</li>
    <li>Als gebruiker wil ik de scores kunnen zien zodat ik weet wat de stand is</li>
    <li>Als gebruiker wil ik mijn naam bij de stand zien zodat ik weet welke stand van mij is</li>
    <li>Als gebruiker wil ik het plankje van mijn tegenstander kunnen zien zodat ik weet wat hij doet</li>
    <li>Als gebruiker wil ik dat de ball weer in het midden begint na een punt</li>
</ol>
<h2>Resultaten</h2>
<table class="results">
    <tr>
        <td><b>Website/Opdracht</b></td>
        <td colspan="12">Eindopdracht Client Technology</td>
    </tr>
    <tr>
        <td><b>Datum</b></td>
        <td colspan="12">07/04/2016</td>
    </tr>
    <tr>
        <td><b>Valide HTML5</b></td>
        <td colspan="12" class="bg-green">Validator: https://html5.validator.nu/</td>
    </tr>
    <tr>
        <td><b>Valide CSS3</b></td>
        <td colspan="12" class="bg-green">Validator: http://codebeautify.org/cssvalidate</td>
    </tr>
    <tr>
        <td><b>Valide Javascript</b></td>
        <td colspan="12" class="bg-green">Validator: http://www.jslint.com/</td>
    </tr>
    <tr>
        <td><b>Browser</b></td>
        <td colspan="3" class="center"><img src="/Images/Internet-Explorer-icon.png" alt="IE" width="32" height="32"/><br/>IE</td>
        <td colspan="3" class="center"><img src="/Images/Firefox-icon.png" alt="Firefox" width="32" height="32"/><br/>Firefox</td>
        <td colspan="3" class="center"><img src="/Images/Google-Chrome-icon.png" alt="Chrome" width="32" height="32"/><br/>Chrome</td>
        <td colspan="3" class="center"><img src="/Images/Opera-icon.png" alt="Opera" width="32" height="32"/><br/>Opera</td>
    </tr>
    <tr>
        <td><b>Versie</b></td>
        <td colspan="3">11</td>
        <td colspan="3">45</td>
        <td colspan="3">50</td>
        <td colspan="3">36</td>
    </tr>
    <tr>
        <td><b>Design</b></td>
        <td colspan="3" class="bg-green"></td>
        <td colspan="3" class="bg-green"></td>
        <td colspan="3" class="bg-green"></td>
        <td colspan="3" class="bg-gray"></td>
    </tr>
</table>

<p><b>Legenda</b></p>
<div class="legend bg-green">Werkt goed</div>
<div class="legend bg-orange">Werkt gedeeltelijk</div>
<div class="legend bg-red">Werkt niet</div>
<div class="legend bg-gray">Niet getest</div>
<h2>Onderbouwing van resultaten</h2>
<p>
    De eerdere versies van Internet Explorer ondersteunen geen websockets, deze browsers worden dan ook niet ondersteund door onze game.
    <br/><br/>
    <strong>CSS</strong><br/>
    De CSS validator gaf een aantal waarschuwingen met de volgende melding: Don't use IDs in selectors.
    Deze waarschuwingen hebben wij gezien als advies aangezien de IDs gewoon werken.
    <br/><br/>
    <strong>Javascript</strong><br/>
    De JS validator gaf alleen wat style opmerkingen, deze gaan over de opmaak van de JS bestanden. Deze hebben we niet meegenomen omdat de code naar ons idee er niet leesbaarder werd.
    Hierbij kan je denken aan het niet gebruiken van een spatie achter de "catch".
    <br/><br/>
</p>
</div>